{% extends 'base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<h2>Connexion</h2>
<form method="POST" action="{{ url_for('auth.login') }}">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
<p>Pas encore de compte ? <a href="{{ url_for('auth.register') }}">Inscrivez-vous ici</a>.</p>
{% endblock %}
